<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>TruckTracker</display-name>
  <welcome-file-list>
    <welcome-file>Login</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>assessment.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>assessment.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfile</display-name>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>assessment.UserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewTruck</display-name>
    <servlet-name>AddNewTruck</servlet-name>
    <servlet-class>assessment.AddNewTruck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewTruck</servlet-name>
    <url-pattern>/AddNewTruck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RouteLookUp</display-name>
    <servlet-name>RouteLookUp</servlet-name>
    <servlet-class>assessment.RouteLookUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteLookUp</servlet-name>
    <url-pattern>/RouteLookUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewRoute</display-name>
    <servlet-name>AddNewRoute</servlet-name>
    <servlet-class>assessment.AddNewRoute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewRoute</servlet-name>
    <url-pattern>/AddNewRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnHome</display-name>
    <servlet-name>ReturnHome</servlet-name>
    <servlet-class>assessment.ReturnHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnHome</servlet-name>
    <url-pattern>/ReturnHome</url-pattern>
  </servlet-mapping>
</web-app>